/* Stili generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

.color_black{
    color: black;
}

.bg_gray{
    background-color: rgb(243, 243, 243);
}

.bg_yellow{
    background-color: #ffae00;
}
.bg_green{
    background-color: green;
}
.bg_white{
    background-color: white;
}

/* Stili nav_bar */
#nav_bar{
    width: 100%;
    height: 60px;
    padding: 10px 0;
    background-color: rgb(243, 243, 243);
}
#container_white{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
#logo{
    width: 180px;
    background-image: url(../img/logo.svg);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 10px;
    padding: 20px 30px 20px 15px;
}
.search{
    flex-grow: 1;
    background-color: rgb(202, 202, 202);
    border-radius: 5px;
    border: none;
}
.fa-magnifying-glass{
    align-self: center;
    margin-left: 10px;
}
.fa-bell{
    color:  #ffae00;
}
#nav_bar div:last-child{
    background-color: white;
}
#nav_bar div:last-child .fa-solid, .fa-list-ul{
    margin: 0 15px;
}
#nav_bar div:last-child div{
    display: inline-block;
}
#nav_bar a{
    color: black;
}



/* Stili wrapper_up */
#wrapper_up{
    margin-top: 60px;
    height: calc(100vh - 60px );
    display: flex;
}

/* Stili sidebar */
#sidebar{
    width: 130px;
    height:100%;
    background-image: url(../img/sidebar-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgb(16, 18, 30);
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#sidebar a{
    display: block;
    color: white;
}
.fa-house{
    margin-right: 10px;
}
.fa-chart-simple{
    margin-right: 13px;
}
.fa-signal{
    margin-right: 7px;
}
.fa-gear{
    margin-right: 10px;
}

/* Stili main_player */
#container_centrale{
    flex-grow: 1;
    background-color:  rgb(243, 243, 243);
    overflow-y: auto;
}

/* Stili controller  */
#controller{
    width: 100%;
    background-color: rgb(0, 115, 255);
    color: white;
    padding: 10px;
    margin-bottom: 15px;
}
#new_student{
    color: white;
}
.fa-plus{
    margin-left: 8px;
    font-size: 12px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 8px;
}
#controller a{
    color: white;
    font-size: 10px;
    background-color: rgb(0, 72, 255);
    border-radius: 20px;
    padding: 0 5px;
    margin-right: 2px;
}
#controller h3{
    display: inline-block;
    margin-right: 10px;
}
#svuota{
    background-color: #ffae00;
    border: #ffae00;
}

/* Stili offcanvas */
#offcanvasRight{
    width: 50%;
}

#container_tabelle{
    width: 97%;
}

/* Stili tabella */
#tabella{
    width: 100%;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 5px;
    margin-left: 10px;
}
.fa-code{
    font-size: 12px;
    color: white;
    background-color: #ff7300;
    border-radius: 50%;
    padding: 5px 4px;
}
.fa-pencil, .fa-trash{
    color: rgb(106, 106, 106);
    border: 1px solid rgb(106, 106, 106);
    padding: 5px;
    border-radius: 4px;
}
.fa-trash{
    padding: 5px 6px;
}

/* Stili FAQ */
#FAQ{
    width: 100%;
    margin-left:  10px;
}


/* Stili Todo */
.border_check{
    border: 1px solid rgb(206, 206, 206);
    border-radius: 5px;
    margin: 0;
}





/* Media query */
@media all and (max-width:768px){
    .fa-list-ul, .fa-circle-question, .fa-ellipsis-vertical{
        display: none;
    }
    #logo{
        background-image: url(../img/mobile-logo.png);
        background-size:100% ;
        background-position: 0;
        width: 50px;
    }
    #sidebar{
        width: 60px;
    }
    #sidebar span{
        display: none;
    }
    #offcanvasRight{
        width: 100%;
    }
    #tabella{
        width: 96.5%;
    }
    #FAQ{
        width: 95.5%;
    }
}